nav {
    background-color: darkslategray;
    margin-bottom: 50px;
}


.container-form {
    border: 2px solid darkslategray;
    margin-bottom: 50px;
}

.spinner {
    border: 4px solid rgba(0, 0, 0, 0.1);
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border-left-color: darkslategray;
    animation: spin 1s ease infinite;
    margin-top: 30px ;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}

.card {
  margin-bottom: 30px;
}

form{
  padding:20px;
}